.column {
    background-color: rgba(70,70,70,1);
    border-radius: 5%;
    color: whitesmoke;
    padding:25px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    box-shadow: 2px 3px rgb(20,20,20);
}

button {
    background-color: rgba(40,40,40);
    color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
}

input {
    background-color: rgba(70,70,70,1);
    color: whitesmoke;
    margin: 5px;
}
input:focus{
    background-color: rgba(40,40,40);
}